add_newline = false
format = """
$directory\
$all\
$kubernetes\
$cmd_duration\
$time\
$line_break\
$character"""

[character]
success_symbol = "[\\$](green)"
error_symbol = "[\\$](red)"

[directory]
style="bold fg:#34c6eb"
truncate_to_repo = false
fish_style_pwd_dir_length = 3
truncation_length = 6
format = "[$path]($style)[$read_only]($read_only_style) "

[line_break]
disabled = false

[time]
disabled = false
style = "bold dimmed"

# pure prompt style git status: https://starship.rs/presets/pure-preset.html
[git_branch]
format = "[$symbol$branch(:$remote_branch)]($style) "
# style = "bright-black"

[git_status]
disabled = true
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[gcloud]
disabled = true

[aws]
disabled = true

[cmake]
disabled = true

[golang]
disabled = true

[kubernetes]
disabled = false
format = '[$symbol$context( \($namespace\))]($style) '

[python]
disabled = true
