; https://stackoverflow.com/a/38980986
; https://stackoverflow.com/questions/18880024/start-ssh-agent-on-login
;
; manual setup needed:
; systemctl --user enable ssh-agent
; systemctl --user start ssh-agent
; add to ~/.ssh/config: AddKeysToAgent  yes

[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
